.home--main {
  min-height: 650px;
  height: calc(100vh - 136px);
  background: no-repeat url('../assets/home/waves.svg') right 0 bottom 0;
  background-size: auto 90%;

  &--title {
    word-spacing: .35rem;
  }
}
