@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import '~hamburgers/dist/hamburgers.min.css';

button:focus {
  @apply outline-none;
}

.home--main {
  min-height: 650px;
  height: calc(100vh - 136px);
  background: no-repeat url('../assets/home/waves.svg') right 0 bottom 0;
  background-size: auto 90%;

  &--title {
    word-spacing: .35rem;
  }
}

.home--socials {
  &--slider--desired {
    @media (min-width: 400px) {
      &::before, &::after {
        content: '';
        @apply .mx-3;
        @apply .h-px;
        @apply .bg-black;
        @apply .inline-block;
        transform: translateY(-5px);
        width: 1.5rem;
      }
    }
  }
}
