@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import '~hamburgers/dist/hamburgers.min.css';

button:focus {
  @apply outline-none;
}

$navbar-height: 136px;

.home--main {
  min-height: 650px;
  height: calc(100vh - #{$navbar-height});
  background: no-repeat url('../assets/home/waves.svg') right 0 bottom 0;
  background-size: auto 90%;

  &--title {
    word-spacing: .35rem;
  }
}

.socials {
  &--slider--desired {
    @media (min-width: 400px) {
      &::before, &::after {
        content: '';
        @apply .mx-3;
        @apply .h-px;
        @apply .bg-black;
        @apply .inline-block;
        transform: translateY(-5px);
        width: 1.5rem;
      }
    }
  }
}

.contact {
  &--column {
    min-height: 650px;
    padding-top: $navbar-height;
    @apply px-20;

    @media (min-width: 1024px) {
      padding-top: calc(#{$navbar-height} + 5%);
      height: 100vh;
    }
  }

  &--background {
    &:after, &:before {
      content: '';
      height: 100%;
      width: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &:before {
      background: rgb(49, 49, 49);
    }

    &:after {
      background: url('../assets/contact/background.png') no-repeat;
      background-size: cover;
      opacity: .1;
    }
  }
}

input {
  @apply w-full;
  @apply border-b-2;
  @apply border-primary-300;
  @apply p-4;
  @apply transition-all duration-200 ease-in-out;
  @apply mb-8;

  &:focus {
    @apply border-primary-900;
  }

  &::placeholder {
    @apply text-primary;
    @apply font-medium;
  }
}

button.btn, a.btn {
  @apply font-medium;
  @apply border-3 transition-all duration-200 ease-in-out;
  @apply border-primary-500;
  @apply bg-primary-500;
  @apply text-white;
  @apply uppercase;
  @apply py-2;
  @apply px-6;
  @apply rounded-lg;

  &:hover {
    @apply border-primary-700;
    @apply bg-primary-700;
  }

  &.btn__outline {
    @apply text-brand-500;
    @apply bg-white;

    &:hover {
      @apply text-brand-700;
    }
  }
}

.contact--form {
  &--submit {
    @apply text-xl;
    @apply uppercase;
    @apply font-medium;
    @apply opacity-60;
    @apply transition-opacity duration-200 ease-in-out;
    @apply mt-8;
    @apply relative;

    &:before {
      @apply bg-primary-500;
      @apply w-1/2;
      @apply absolute;
      @apply h-1;
      @apply bottom-0;
      @apply transform translate-y-2;
      @apply transition-all duration-200 ease-in-out;
      content: '';
    }

    &:hover {
      @apply opacity-90;

      &:before {
        @apply bg-primary-700;
        @apply w-full;
      }
    }
  }
}

.giveaway {
  &--splash {
    @media (min-width: 768px) {
      width: 800px;
    }

    &--image {
      @media (max-width: 767px) {
        max-width: initial;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--content {
    text-shadow: 0 0 6px rgba(255, 255, 255, 1);
    line-height: 1.15;
  }
}
