@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@import '~hamburgers/dist/hamburgers.min.css';

button:focus {
  @apply outline-none;
}

$navbar-height: 136px;

.full-height {
  height: calc(100vh - #{$navbar-height});
}

.hamburger-white {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: white !important;
  }
}

.home--main {
  min-height: 650px;
  background-size: auto 90%;
  @apply z-10 relative;
  @apply text-white;

  &--bg {
    background: url('../assets/home/background.jpg') no-repeat center center;
    background-size: cover;
  }

  &--title {
    word-spacing: .35rem;
  }
}

.socials {
  &--slider--desired {
    @media (min-width: 400px) {
      &::before, &::after {
        content: '';
        @apply .mx-3;
        @apply .h-px;
        @apply .bg-black;
        @apply .inline-block;
        transform: translateY(-5px);
        width: 1.5rem;
      }
    }
  }
}

.contact {
  padding-bottom: 3px;

  &--background {
    min-height: 750px;

    &:after, &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &:before {
      background: rgb(21, 23, 40);
    }

    &:after {
      background: url('../assets/contact/background.png') no-repeat;
      background-size: cover;
      opacity: .05;
    }
  }
}

input {
  @apply w-full;
  @apply border-b-2;
  @apply border-primary-300;
  @apply p-4;
  @apply transition-all duration-200 ease-in-out;
  @apply mb-8;

  &:focus {
    @apply border-primary-900;
  }

  &::placeholder {
    @apply text-primary;
    @apply font-medium;
  }
}

button.btn, a.btn {
  @apply font-medium;
  @apply border-3 transition-all duration-200 ease-in-out;
  @apply border-primary-500;
  @apply bg-primary-500;
  @apply text-white;
  @apply uppercase;
  @apply py-2;
  @apply px-6;
  @apply rounded-lg;

  &:hover {
    @apply border-primary-700;
    @apply bg-primary-700;
  }

  &.btn__outline {
    @apply text-brand-500;
    @apply bg-white;

    &:hover {
      @apply text-brand-700;
    }
  }
}

.contact--form {
  &--submit {
    @apply text-xl;
    @apply uppercase;
    @apply font-medium;
    @apply opacity-60;
    @apply transition-opacity duration-200 ease-in-out;
    @apply relative;
    @apply text-left;

    &:before {
      @apply bg-primary-500;
      @apply w-1/2;
      @apply absolute;
      @apply h-1;
      @apply left-0;
      @apply bottom-0;
      @apply transform translate-y-2;
      @apply transition-all duration-200 ease-in-out;
      content: '';
    }

    &:hover {
      @apply opacity-90;

      &:before {
        @media (min-width: 360px) {
          @apply w-full;
        }

        @apply bg-primary-700;
      }
    }
  }
}

.giveaway {
  background-color: #efeee9;

  &--splash {
    @media (min-width: 1025px) {
      width: 800px;
    }

    @media (max-width: 1024px) {
      width: 600px;
      bottom: 10%;
    }

    @media (max-width: 640px) {
      width: 550px;
    }
  }

  &--influencer {
    @media (max-width: 1024px) {
      @apply w-full;
      @apply overflow-hidden;
      @apply inline-block;

      &--image {
        @apply w-auto;
        height: 1100px;
        min-width: 100%;
        max-width: initial;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    @media (max-width: 800px) {
      height: 1000px;
    }
  }

  &--content {
    text-shadow: 0 0 8px rgba(0, 0, 0, .65);

    &--image {
      @media (max-width: 1024px) {
        width: 50px;
      }
    }

    &--desc {
      line-height: 1.15;
    }
  }
}

.faq {
  &--section {
    &--box {
      &:hover, &__active {
        box-shadow: 0 0 0 2px #05aff2;

        .faq--section--box--icon {
          @apply opacity-100;
          @apply text-brand-700;
        }
      }
    }

    &--question {
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
